
body { 
	background-color: #A6C0A1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 50px;
}

h2 {
	margin-bottom: 20px;
}





.carte2,
.carte {

	padding-top: 10px;
	padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 1;
	perspective: 6000px;
	border: 1px solid black;
	justify-content: space-around;
	background-color: #e5e6e8;
	flex-shrink: 3;

}

.carta {
	/* width: 200px; */
	height: 270px;
	flex-basis: 1;
	margin: 7px;
	position: relative;
	transition: transform 1500ms;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	flex-basis: calc(100% / 2 - 20px);
	
}

.flip {
	transform: rotateY(180deg);
}
.back,
.front {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
}








.front {  /* il fronte della carta viene impostato flex cosi da mettere il p allinterno centrato */
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('back of a card.png');
	background-size: 100%;

}
.front p {
	font-size: large;
	font-family: fantasy;
	margin: 5px;
}
.back p {
	font-size: large;
	font-family: fantasy;
	margin: 5px;
}


.back {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: rotateY(180deg);
	border: 4px solid #66bd5b;
	border-radius: 11px; 
	
}