
body { 
	background-color: #A6C0A1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 50px;
}

h2 {
	margin-bottom: 20px;
}





.carte2,
.carte {
	height: 200px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin: 0 auto;
	
	flex-direction: column;
	
	perspective: 25000px;
	
	border: 1px solid black;
	align-items: center;
	background-color: #e5e6e8;
	overflow: hidden;
	transition: all 5s ease;
	
}
.aperto {
	transition: height 5s ease;
	height: 12000px;
}

.carta {
	transform-style: preserve-3d;
	margin: 1% auto;
	width: 90%;
	
	height: 250px;
	transition: transform 1500ms ease;
	backface-visibility: hidden;
	/* flex-basis: calc(100% / 2 - 20px); */
	
}

.flip {
	transform: rotateY(180deg);
}
.back,
.front {
	
	width: 100%;
	height: 100%;
	position:	relative;
	position: absolute;
	backface-visibility: hidden;
}

.back {
}






.front {  
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('prova.jpg');
	border-radius: 20px;
	background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  
  
  

}
.front p,
.back p {
	font-size: 30px;
	font-family: fantasy;
	margin: 5px;
}



.back {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: rotateY(180deg);
	border: 4px solid #66bd5b;
	border-radius: 11px; 
	
}